spring.application.name=hotel-booking-java4a-pair5
spring.datasource.url=jdbc:postgresql://localhost:5432/hotel_booking_pair5
spring.datasource.username=postgres
spring.datasource.password=123456
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update

jwt.expiration=
jwt.key=

cloudinary.cloud_name=
cloudinary.api_key=
cloudinary.api_secret=